* {
    font-family: 'Open Sans', sans-serif;
}

html, body, div {
    margin: 0;
    padding: 0;

}

.aligner {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    color: #333;
}

a {
    color: #00c;
    text-decoration: none;
}
