<!DOCTYPE html>

<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/theme/style.css">
    {% endblock head %}
  </head>

  <body>

    {% block main %}
    <header>
      <h1 class="entry-title">{{ article.title }}</h1>
    </header>

    <footer class="post-info">
      <a href="mailto:simon.whalen@gmail.com">Simon Whalen</a>
      &ndash;
      <abbr class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </abbr>
      {% if article.modified %}
      <abbr class="modified" title="{{ article.modified.isoformat() }}">
        {{ article.locale_modified }}
      </abbr>
      {% endif %}
    </footer>

    <div class="entry-content">
      {{ article.content }}
    </div>
    {% endblock main %}

  </body>

</html>
