<!DOCTYPE html>

<html lang="{{ DEFAULT_LANG }}">
  <head>
    <title>{% block title %}{{ article.title|striptags }}{% endblock title %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/theme/style.css">
    <script type="text/javascript" async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script src="//d3js.org/d3.v3.min.js"></script>

    {% if article %}
      {% if article.styles %}
        {% for style in article.styles %}
    {{ style }}
        {% endfor %}
      {% endif %}
    {% endif %}
  </head>

  <body>

    {% block main %}
    <header>
      <h1 class="entry-title">{{ article.title }}</h1>
    </header>

    <footer class="post-info">
      <a href="mailto:simon.whalen@gmail.com">Simon Whalen</a>
      &ndash;
      <abbr class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </abbr>
      {% if article.modified %}
      <abbr class="modified" title="{{ article.modified.isoformat() }}">
        {{ article.locale_modified }}
      </abbr>
      {% endif %}
    </footer>

    <div class="entry-content">
      {{ article.content }}
    </div>
    {% endblock main %}

  </body>

  {% if article %}
    {% if article.scripts %}
        {% for script in article.scripts %}
  {{ script }}
        {% endfor %}
    {% endif %}
  {% endif %}

</html>
