    <header>
      <h1>{{ SITENAME }}</h1>
    </header>

    <nav id="menu">
      <ul>
        {% for title, link in MENUITEMS %}
        <li{% if title == page_name %} class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in PAGES %}
        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
        {% endif %}
        <!-- <li><a href="https://github.com/swhalen" target="_blank">Github</a></li> -->
        <li><a href="http://goo.gl/CFvbxT" target="_blank">Google Scholar</a></li>
        <li><a href="mailto:simon.whalen@gmail.com">Contact</a></li>
      </ul>
    </nav>
