@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600);

* {
    font-family: 'Open Sans', sans-serif;
}

html, body, div {
    margin: 0;
    padding: 0;

}

body {
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.4;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
}

/* @media all and (max-width: 52em) { */
/*     body { */
/* 	width: auto; */
/*         margin: 0 1em; */
/*     } */
/* } */

h1, h2, h3 {
    line-height: 1.2;
}


h1 {
    font-weight: 600;
}

a {
    color: #00c;
    text-decoration: none;
}

#menu ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline;
}

#menu li + li:before {
    content: '\a0\b7\a0\a0';
}

#menu li.active a {
    color: black;
    cursor: default;
}
