<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>
        <script type="text/x-mathjax-config">MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });</script>
    </head>
    <body>
        <header>
          <h1>$title$</h1>
        </header>

        <footer class="post-info">
          <a href="/">Simon Whalen</a>
          &nbsp;&middot;&nbsp;
          $date$
        </footer>

        $body$
    </body>
</html>
